.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media(max-width: 1024px) {
  .header {
    gap: 10px;
  }
}

button {
  width: 56px;
  height: 56px;
  border: 0;
  padding: 5px;
  background-color: black;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-image: var(--primaryGradient) 1;
  transition: border-image 100ms;
  position: relative;
  outline: 2px solid black;
}

button:hover {
  border-image: var(--primaryHoverGradient) 1;
}

button:focus {
  animation-name: click;
  animation-duration: 400ms;
}

@keyframes click {
  0% {
    border-image: var(--primaryHoverGradient) 1;
  }
  20% {
    border-image: var(--primaryClickGradient) 1;
  }
  100% {
    border-image: var(--primaryHoverGradient) 1;
  }
}

button.selected {
  border-image: var(--primaryHoverGradient) 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
