/* :host {
  background-image: url("../../assets/background/fan.png");
  background-position: center;
  background-repeat: no-repeat;
} */

/* .calculator {
  width: 700px;
} */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-img {
  position: absolute;
  top: 120px;
  z-index: -1;
  filter: saturate(0);
  opacity: 0.1;
  height: 500px;
}

.background-img.fadein {
  animation: iconFadein 200ms ease-out;
}

h1 {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--primaryTextColor);
  cursor: pointer;
  background-color: rgb(2, 2, 2);
  border-width: 2px;
  border-style: solid;
  border-image: var(--primaryGradient) 1;
  outline: 2px solid black;
  padding: 5px 30px;
  transition: border-image 100ms;
}

h1.fadein {
  animation: titleFadein 200ms ease-out;
}

h1:hover {
  border-image: var(--primaryHoverGradient) 1;
}

@keyframes titleFadein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes iconFadein {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
