:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img {
  --pos: translate(-50%, 40px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: var(--pos);
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
  z-index: -10;
  filter: saturate(0);
  opacity: 0.1;
}

img.fadein {
  animation: iconFadein var(--tabSwitchDuration) ease-out;
}

@keyframes iconFadein {
  0% {
    transform: var(--pos) scale(0.5);
  }
  100% {
    transform: var(--pos) scale(1);
  }
}

h1 {
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: var(--primaryTextColor);
  cursor: pointer;
  background-color: rgb(2, 2, 2);
  border-width: 2px;
  border-style: solid;
  border-image: var(--primaryGradient) 1;
  outline: 2px solid black;
  padding: 5px 30px;
  transition: border-image 100ms;
}

h1.fadein {
  animation: titleFadein var(--tabSwitchDuration) ease-out;
}

h1:hover {
  border-image: var(--primaryHoverGradient) 1;
}

@keyframes titleFadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
