<div class="content">
  <div class="input-side">
    <h1>{{activeCalculator.name}}</h1>
    @for(input of activeCalculator.inputs; track input.name; let i = $index) {
      @if(input.type === VariableType.NUMBER) {
        <app-number-variable [index]="i" [name]="input.name"/>
      }
      @else if (input.type === VariableType.HARDNESS_ENUM) {
        <app-enum-variable [index]="i" [name]="input.name" [values]="hardnessValues" />
      }
      @else {
        <p>Not implemented yet :[</p>
      }
    }
  </div>
  <div class="output-side">
    @for(output of activeCalculator.ouputs; track output.name; let i = $index) {
      @if(output.type === VariableType.NUMBER) {
        <app-number-variable [index]="i" [name]="output.name" [isOutput]="true"/>
      }
      @else {
        <p>Not implemented yet :[</p>
      }
    }
  </div>
</div>