<app-input-side>
  <app-number [(value)]="val_rpm" [min]="0" id="rpm" (userChange)="calculateFromRpm()">RPM</app-number>
  <app-number [(value)]="in_chainLength" [min]="1" id="chain-length" (userChange)="calculateFromRpm()">Longest Chain Length</app-number>
  <app-nuenum id="input-delay" label_custom="Custom Delay (ticks)" [keys]="delayKeys" [values]="delayValues" [(value)]="in_inputDelay" (userChange)="calculateFromRpm()">Input Delay</app-nuenum>
</app-input-side>
<app-output-side>
  <app-number [unit]="'/s'" [(value)]="val_speed" id=speed (userChange)="calculateFromSpeed()">Recipes/Second</app-number>
  <app-number [unit]="'s'" [(value)]="val_time" id="time" (userChange)="calculateFromTime()">Processing Time</app-number>
  <app-number id="stress" [stress]="true" [unit]="'su'" [(value)]="val_stress" (userChange)="calculateFromStress()">Stress</app-number>
  <app-info>
    The actual result might be slightly different depending on the order in which Minecraft will tick your Mechanical Crafters!
    <br><br>
    For the best performance:
    <ul>
      <li>Use funnels to provide items</li>
      <li>If a recipe produces multiple stacks of items (e.g. extra buckets), output items to a block that has space for more than 1 stack (e.g. use chest instead of depot)</li>
      <li>Don't connect crafters that accept the whole stack of item (e.g. minecart, milk bucket)</li>
    </ul>
  </app-info>
</app-output-side>