:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(12, 12, 12);
}

.window {
  /* margin-top: 100px; */
  position: absolute;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
}

app-calculator-side {
  flex: 1;
}

.repolink img {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 20%;
  transition: opacity 0.15s;
  width: 30px;
  height: 30px;
  visibility: hidden;
}

.repolink:hover img {
  opacity: 100%;
}

@media (min-width: 0) {
  app-header {
    height: 40px;
  }
}

@media (min-width: 425px) {
  app-header {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .repolink img {
    visibility: visible;
  }
}
