.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

@media(max-width: 425px) {
  .content {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media(max-width: 375px) {
  .content {
    margin-left: 5px;
    margin-right: 5px;
  }
}

app-header {
  width: 100%;
  max-width: 1000px;
}

app-calculator-info {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.repolink img {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 20%;
  transition: opacity 0.15s;
  width: 30px;
  height: 30px;
}

.repolink:hover img {
  opacity: 100%;
}
