<app-input-side>
  <app-enum id="process" [(value)]="in_options.process" [values]="processes" (userChange)="calculateFromRpm()">Process</app-enum>
  <app-number id="rpm" [(value)]="val_rpm" [min]="0" (userChange)="calculateFromRpm()">RPM</app-number>
  @if(in_options.process === Process.PROCESSING) {
    <app-nuenum id="input-delay" [hint]="delayHint" [(value)]="in_options.inputDelay" [label_custom]="'Custom Input Delay'" [unit]="'t'" [keys]="inputDelaysKeys" [values]="inputDelaysValues" (userChange)="calculateFromRpm()">Bump Target Input Delay</app-nuenum>
    @if(in_options.inputDelay == -1) {
      <app-number id="belt-rpm" [(value)]="in_options.beltRpm" [min]="0" (userChange)="calculateFromRpm()">Belt RPM</app-number>
    }
  }
  @else {
    <app-enum id="on-contraption" [hint]="hint2" [(value)]="in_options.onContraption" [values]="noYes" (userChange)="calculateFromRpm()">On Contraption?</app-enum>

    @if(!in_options.onContraption) {
      <app-enum id="gathers-items" [hint]="hint1" [(value)]="in_options.gathersItems" [values]="noYes" (userChange)="calculateFromRpm()">Outputs Items?</app-enum>
    }
    
    @if(in_options.process === Process.KILLING) {
      <app-number id="health" [(value)]="in_options.health" [min]="0" (userChange)="calculateFromRpm()">Mob Health</app-number>
      <app-number id="damage" [(value)]="in_options.damage" [min]="0" (userChange)="calculateFromRpm()">Item Damage</app-number>
    }
  }
</app-input-side>
<app-output-side>
  <app-number [unit]="'/s'" [(value)]="val_speed" id=speed (userChange)="calculateFromSpeed()">
    @switch (in_options.process) {
      @case (Process.KILLING) {
        Mobs/Second
      }
      @case (Process.OTHER) {
        Bumps/Second
      }
      @default {
        Recipes/Second
      }
    }
  </app-number>
  <app-number [unit]="'s'" [(value)]="val_time" id="time" (userChange)="calculateFromTime()">
    @switch (in_options.process) {
      @case (Process.KILLING) {
        Killing Time
      }
      @case (Process.OTHER) {
        Time Between Bumps
      }
      @default {
        Processing Time
      }
    }
  </app-number>
  <app-number id="stress" [stress]="true" [unit]="'su'" [(value)]="val_stress" (userChange)="calculateFromStress()">Stress</app-number>
</app-output-side>