<app-input-side>
  <app-number [(value)]="in_rpm" [min]="0" id="rpm">RPM</app-number>
  <app-nuenum id="recipe-duration" label_custom="Custom Recipe Duration" [keys]="recipesKeys" [values]="recipesValues" [hint]="recipeInputHint" [hint_custom]="recipeDurationHint" [(value)]="in_recipeDuration">Recipe Input</app-nuenum>
</app-input-side>
<app-output-side>
  <app-number [unit]="'/s'" [(value)]="out1" id=speed>Recipes/Second</app-number>
  <app-number [unit]="'s'" [(value)]="out2" id="time">Processing Time</app-number>
</app-output-side>