<app-input-side>
  <app-number revLink="time-speed" [(value)]="in_speed" [min]="0" id="speed">Blocks/Second</app-number>
  <app-nuenum id="hardness" label_custom="Custom Hardness" [keys]="hardnessKeys" [values]="hardnessValues" [(value)]="in_hardness">Hardness</app-nuenum>
  <app-nuenum id="delay" label_custom="Custom Delay (sec)" [keys]="delayKeys" [values]="delayValues" [(value)]="in_delay" [hint]="delayHint">Delay</app-nuenum>
</app-input-side>
<app-output-side>
  <app-warning [warningType]="WarningType.INFO">Found results for:<br><span class="property">BLOCKS/SECOND: </span>{{out_realSpeed}}<br><span class="tooltip">why?</span></app-warning>
  <app-number revLink="time-speed" [output]="true" [(value)]="out1">RPM</app-number>
  <app-number [output]="true" [unit]="'s'" [(value)]="out2">Mining Time</app-number>
</app-output-side>