<app-input-side>
  <app-number id="rpm" [(value)]="val_rpm" (userChange)="calculateFromRpm()" [min]="0">RPM</app-number>
  <app-nuenum id="hardness" label_custom="Custom Hardness" [keys]="hardnessKeys" [values]="hardnessValues" [(value)]="in_hardness" (userChange)="calculateFromRpm()">Hardness</app-nuenum>
  <app-nuenum id="delay" label_custom="Custom Delay" [unit]="'t'" [keys]="delayKeys" [values]="delayValues" [(value)]="in_delay" [hint]="delayHint" (userChange)="calculateFromRpm()">Delay</app-nuenum>
</app-input-side>
<app-output-side>
  <app-number id="speed" [unit]="'/s'" [(value)]="val_speed" (userChange)="calculateFromSpeed()">Blocks/Second</app-number>
  <app-number id="time" [unit]="'s'" [(value)]="val_time" (userChange)="calculateFromTime()">Mining Time</app-number>
  <app-number id="stress" [stress]="true" [unit]="'su'" [(value)]="val_stress" (userChange)="calculateFromStress()">Stress</app-number>
</app-output-side>