<app-input-side>
  <app-number [(value)]="in_rpm" [min]="1">RPM</app-number>
  <div class="hardness">
    <app-enum class="hardnessEnum" [values]="hardnessValues" [(value)]="in_hardnessIndex">Hardness</app-enum>
    @if(in_hardnessIndex === 0) {
      <app-number class="hardnessVariable" [(value)]="in_customHardness" [min]="0">Custom Value</app-number>
    }
  </div>
</app-input-side>
<app-output-side>
  <app-number [output]="true" [unit]="'/s'" [(value)]="out1">Raw Blocks/Second</app-number>
  <app-number [output]="true" [unit]="'/s'" [(value)]="out2">1 second delay Blocks/Second</app-number>
  <app-number [output]="true" [unit]="'s'" [(value)]="out3">Processing Time</app-number>
</app-output-side>