<app-input-side>
  <app-number [(value)]="in_rpm" [min]="1">RPM</app-number>
  <div class="variable-container">
    <app-enum class="enum" [values]="hardnessValues" [(value)]="in_hardnessIndex">Hardness</app-enum>
    @if(in_hardnessIndex === 0) {
      <app-number class="variable" [(value)]="in_customHardness" [min]="0">Custom Hardness</app-number>
    }
  </div>
  <div class="variable-container">
    <app-enum class="enum" [values]="delayValues" [(value)]="in_delayIndex" [help]="delayHint">Delay</app-enum>
    @if(in_delayIndex === 0) {
      <app-number class="variable" [(value)]="in_customDelay" [min]="0">Custom Delay</app-number>
    }
  </div>
</app-input-side>
<app-output-side>
  <app-number [output]="true" [unit]="'/s'" [(value)]="out4">Blocks/Second (with delay)</app-number>
  <app-number [output]="true" [unit]="'s'" [(value)]="out3">Mining Time (with delay)</app-number>
  <app-number [output]="true" [unit]="'/s'" [(value)]="out2">Blocks/Second</app-number>
  <app-number [output]="true" [unit]="'s'" [(value)]="out1">Mining Time</app-number>
</app-output-side>