<app-input-side>
  <app-number [min]="0" id="rpm" [(value)]="val_rpm" (userChange)="calculateFromRpm()">RPM</app-number>
  @if(val_rpm! < 30) {
    <app-warning>Remember that the Mechanical Mixer will only work if <b>RPM ≥ 30</b>!</app-warning>
  }
</app-input-side>
<app-output-side>
  <app-number [unit]="'/s'" id="speed" [(value)]="val_speed" (userChange)="calculateFromSpeed()">Recipes/Second</app-number>
  <app-number [unit]="'s'" id="time" [(value)]="val_time" (userChange)="calculateFromTime()">Processing Time</app-number>
</app-output-side>