<app-input-side>
  <app-number [(value)]="in_rpm" [min]="0" id="rpm">RPM</app-number>
  <app-number [(value)]="in_stackSize" [min]="1" id="stack-size">Stack Size</app-number>
  
  <app-nuenum id="recipe-duration" label_custom="Custom Recipe Duration" [keys]="recipesKeys" [values]="recipesValues" [hint]="recipeInputHint" [hint_custom]="recipeDurationHint" [(value)]="in_recipeDuration">Recipe Input</app-nuenum>
  <app-nuenum id="input-delay" label_custom="Custom Delay (ticks)" [keys]="delayKeys" [values]="delayValues" [hint]="delayHint" [(value)]="in_delay">Input Delay</app-nuenum>
</app-input-side>
<app-output-side>
  <app-number [output]="true" [unit]="'/s'" [(value)]="out1" [help]="warning">Recipes/Second</app-number>
  <app-number [output]="true" [unit]="'s'" [(value)]="out2" [help]="warning">Processing Time</app-number>
</app-output-side>