:root {
  --primaryGradient: linear-gradient(to bottom, #4a4a61 0%, #262632 100%);
  --primaryFocusGradient: linear-gradient(to bottom, #5c5c79 0%, #4a4a61 100%);
  --primaryHoverGradient: linear-gradient(to bottom, #b5b5f0 0%, #7979a1 100%);
  --primaryClickGradient: linear-gradient(to bottom, #f0f0fc 0%, #ceced8 100%);
  --secondaryGradient: linear-gradient(to bottom, #403c37 0%, #201e1c 100%);
  --secondaryFocusGradient: linear-gradient(to bottom, #504b45 0%, #403c37 100%);
  --primaryTextColor: rgb(235, 235, 235);
  --secondaryTextColor: rgb(161, 161, 161);
}

* {
  /* font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Minecraft";
  font-weight: 400;
  font-style: normal;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

@font-face {
  font-family: Minecraft;
  src: url("assets/fonts/minecraft.otf");
}

b {
  font-weight: bold;
}

input {
  -moz-appearance: textfield;
  /* background-color: rgba(0, 0, 0, 0); */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* input[readonly] {
  background-color: rgba(0, 0, 0, 0);
}
input[readonly]:focus {
  outline: none;
} */

router-outlet.calculator-router + * {
  width: 80%;
  animation: fadein 200ms ease-out;
  /* height: 100%;
  display: flex;
  flex-direction: column; */
}

@keyframes fadein {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.tooltip {
  /* display: inline-block; */
  position: relative;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
  container-type: normal;
}

.tooltip-content-up::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 2px);

  background-image: url("assets/background/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

.tooltip-content-up {
  font-size: 16px;
  text-transform: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -20px);
  width: max-content;
  max-width: 400px;

  background-color: black;
  padding: 3px 5px;
  color: #f3f3e2;
  margin: 0;
  outline: 2px solid black;
  border-width: 2px;
  border-style: solid;
  border-image: var(--secondaryGradient) 1;
  animation: fadein 200ms ease-out;
  line-height: 18px;
  transition: opacity 200ms, transform 200ms ease-out;
}

.tooltip:hover .tooltip-content-up {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -10px);
}

/* .tooltip-text {
  text-transform: none;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  background-color: rgb(154, 154, 154);
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: block;
  transition: opacity 0.1s;

  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  width: 240px;
  margin-left: -120px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(154, 154, 154) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
} */